.dashboard {
	position: fixed;
	height: 100%;
	width: 300px;
	border-bottom: 1px #444;
	background-color: #333;
	z-index: 1;
	transition: 0.2s;
	left: 0;
	top: 0;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 4px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		height: 56px;
	}
	&-hidden {
		left: -300px;
		top: 0;
		position: fixed;
		height: 100%;
		width: 300px;
		border-right: 1px white;
		background-color: #333;
		z-index: 1;
		border-bottom: 1px #444;
		transition: 0.2s;
	}
	.initial {
		margin-left: 10px; 
	}
	hr {
		margin: 0;
    	border-color: #444;
    	border-style: solid;
    	border-width: 1px 0 1px 0;
	}
}



.logo{
	h1 {
		display: inline-block;
    	margin-right: 120px;
	}
	svg {
		vertical-align: bottom;
		&:hover{
            color: #70d9ff;
        }
	}
}

.revealButton {
	position: fixed;
	top: 10px;
	left: -20px;
	transition: 0.1s;
	&:hover{
        color: #70d9ff;
        left: -1px;
    }
}

.search-bar{
	margin-bottom: 10px;
	div {
		width: 250px;
		margin-right: 10px;
		input {
			width: 100%;
			background-color: #333;
			border-top: none;
			border-right: none;
			border-left: none;
			border-bottom: 1px solid #444;
			color: #fff;
			padding: 6px 0px 6px 0px;
			transition: border-color 0.2s;
			font: 600 15px Roboto, Arial,sans-serif;
			&:focus{
				outline: none;
				border-color: #70d9ff;
			}
		}
	}
	svg	{
		&:hover {
			color: #70d9ff;
		}
	}
}

.categories {
	padding: 10px 0 10px 10px;
	margin-left: 0 !important;
	font-size: 14px;
	font-weight: 600;
	&:hover{
		background-color: #70d9ff;
		color: #fff;
		cursor: pointer;
	}
}

.short {
  max-width: 196px;
  line-height: 1.3em;
  font-size: 11px;
  padding: 15px 15px 0 15px;
  margin: 0 auto;
  vertical-align: top;
}

