.dashboard {
	position: fixed;
	height: 100%;
	width: 300px;
	border-right: 1px white;
	background-color: #333;
	z-index: 1;
	transition: 0.2s;
	left: 0;
	top: 0;
	&-hidden {
		left: -300px;
		top: 0;
		position: fixed;
		height: 100%;
		width: 300px;
		border-right: 1px white;
		background-color: #333;
		z-index: 1;
		transition: 0.2s;
	}
}



.logo{
	h1 {
		display: inline-block;
    	margin-right: 130px;
	}
	svg {
		&:hover{
            color: #70d9ff;
        }
	}
}

.revealButton {
	position: fixed;
	top: 10px;
	left: -20px;
	transition: 0.1s;
	&:hover{
        color: #70d9ff;
        left: -1px;
    }
}

.search-bar{
	width: 250px;
	div {
		width: 100%;
		input {
			width: 100%;
			background-color: #333;
			border: 1px solid #444;
			border-radius: 10px;
			box-shadow: inset 0 3px 3px 0 rgba(0,0,0,0.2);
			color: #fff;
			padding: 5px;
			&:focus{
				border: 1px solid #70d9ff;
				outline: none;
			}
		}
	}
}