.header{
	background: #141414;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 20px * 3;
	border-bottom: 1px solid #3A3A3A;;
	z-index: 1;
	&-content {
		position: relative;
		display: flex;
		height: 100%;
		justify-content: space-between;
		margin: 0 5px 0 5px;;
	}
}


.logo {
	min-width: 125.16px;
}