.search-bar-big {
	margin: 40px 0 20px 0;
	margin-left: 335px;
	min-width: 423px;
	transition: 0.2s;
	> div {
		width: 87%;
		margin-right: 10px;
		input {
			width: 100%;
			background-color: #141414;
			border-top: none;
			border-right: none;
			border-left: none;
			border-bottom: 1px solid #444;
			color: #fff;
			padding: 6px 0px 6px 0px;
			transition: border-color 0.2s;
			font: 600 26px Roboto, Arial,sans-serif;
			&:focus{
				outline: none;
				border-color: #70d9ff;
			}
		}
	}
	svg {
		vertical-align: bottom;
		&:hover{
            color: #70d9ff;
        }
	}
	&-hidden {
		margin: 40px 0 20px 0;
		margin-left: 83px;
		min-width: 641px;
		transition: 0.2s;
		 > div {
			width: 88.5%;
			margin-right: 10px;
			input {
				width: 100%;
				background-color: #141414;
				border-top: none;
				border-right: none;
				border-left: none;
				border-bottom: 1px solid #444;
				color: #fff;
				padding: 6px 0px 6px 0px;
				transition: border-color 0.2s;
				font: 600 26px Roboto, Arial,sans-serif;
				&:focus{
					outline: none;
					border-color: #70d9ff;
				}
			}
		}
		svg {
		vertical-align: bottom;
		&:hover{
            color: #70d9ff;
        }
	}
	}
}