.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    &:hover {
        .controls {
            opacity: 1;
        }
    }
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 1300px) {
    .videowrapper {
        height: 720px;
        width: 1280px;
        padding: 0px;
        margin: auto;
    }
}

.controls {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.button-container {
    font-size: 45px;
    text-align: center;
    svg {
        &:hover{
            color: #A9A9A9;
        }
    }
}


