.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-top: 80px;
    margin-left: 300px;
    transition: 0.2s;
    &:hover {
        .controls {
            opacity: 1;
        }
    }
}

.wrapperhidden {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    margin-top: 80px;
    height: 0;
    transition: 0.2s;
    &:hover {
        .controls {
            opacity: 1;
        }
    }
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wrapperhidden iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 1701px) {
    .videowrapper {
        height: 776.25px;
        width: 1380px;
        padding: 0px;
        transition: 0.2s;
    }
}

@media screen and (max-width: 1700px) {
    .videowrapper {
        height: 648.875px;
        width: 1150px;
        padding: 0px;
        transition: 0.2s;
    }
}

@media screen and (max-width: 1440px) {
    .videowrapper {
        height: 534.375px;
        width: 950px;
        padding: 0px;
        transition: 0.2s;
    }
}

@media screen and (max-width: 1274px) {
    .videowrapper {
        height: 438.75px;
        width: 780px;
        padding: 0px;
        transition: 0.2s;
    }
}

@media screen and (max-width: 1125px) {
    .videowrapper {
        height: 360px;
        width: 640px;
        padding: 0px;
        transition: 0.2s;
    }
}

@media screen and (max-width: 985px) {
    .videowrapper {
        height: 270px;
        width: 480px;
        padding: 0px;
        transition: 0.2s;
    }
}

.controls {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.button-container {
    font-size: 45px;
    text-align: center;
    svg {
        &:hover{
            color: #A9A9A9;
        }
    }
    .return {
        float: right;
        margin-top: 11px;
        margin-right: 10px
    }
}


