.results-list {
	background-color: #333;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
  	border: 1px solid #444; 
  	border-radius: 10px;
  	margin: 0 71px;
  	white-space: normal;
  	@media only screen and (max-width: 933px) and (min-width: 798px) {
  		width: 644px;
  		white-space: nowrap;	  
  	}
  	@media only screen and (max-width: 498px) and (min-width: 0px), only screen and (max-width: 797px) and (min-width: 499px) {
  		width: 480px;
  		white-space: nowrap;
  	}
  	.result{
  		padding: 10px 15px;
  		line-height: 1.3em;
    	position: relative;
    	font-size: 12px;
    	overflow: auto;
  	}
}

.result-thumbnail {
	height: 138px;
    width: 246px;
    float: left;
    margin-right: 10px;
    text-align: center;
    top: 0;
}

.result {
	.result-title {
		line-height: 1.3em;
		margin-right: 0px;
		margin-bottom: 2px;
		font-size: 18px;
    	font-weight: 300;
    	padding-bottom: 2px;
	    overflow: hidden;	
	    text-overflow: ellipsis;
    	word-wrap: break-word;
    	&:hover {
    		text-decoration: underline;
    	}    
	}
	.result-channel {
		margin: 0;
		padding: 0;
	}
	.result-description {
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
    	word-wrap: break-word; 
	}
}