body {
  background: #141414;
  font: 400 13px "CoreSans", Arial,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #A0A0A0;
  letter-spacing: .02em;
  position: relative;
  margin: (20px * 4) (20px * 2);
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}